* {
    margin: 0px;
}
body {
    background: url(images/boat-4899802.jpg);
    background-size: cover;
}
h1 {
    background-color: #f76d85;
    padding: 50px;
    text-align: center;
    color: #ffffff;
    font-family: "Dancing Script", serif;
}
nav {
    background-color:#ae94ef;
}
nav::after {
    content:'';
    display: table;
    clear: both;
}
nav ul {
    float: right;
}
nav a {
    color: #ffffff;
    background-color:#9977f0;
    font-family: "Merriweather", serif;
    text-decoration: none;
    padding: 10px;
    margin: 4px 10px;
    display: inline-block;
}
nav li {
    display: inline-block;
}
a:hover {
    background: #7531ec;
}
figure {
    text-align: center;
    background: #FFB1CB;
}
section {
    display: flex;
    align-items: center; 
    background: #b4a7d6;  
    margin: 50px 100px;
    padding: 10px;
}
h2, h3 {
    font-family: "Merriweather", serif;
    font-size: 20px;
    color: #ffffff;
    margin: 5px 0px 5px 46px;
}
p {
    font-family: "Merriweather", serif;
    color: #ffffff;
    margin: 0px 50px 10px 50px;
}
footer {
    background: #f76d85;
    padding: 10px 0px 10px 0px;
    color: #ffffff;
    font-family: "Dancing Script", serif;
    text-align: center;
}
footer ul {
    width: 400px;
    margin: auto;
    padding-left: 0;
}
footer li {
    display: inline-block;
    margin: 10px 20px 10px 20px;
    transform: 0.3s ease;
}
footer li:hover {
    transform: translateY(-6px);
}
.copywrite {
    font-family: "Dancing Script", serif;
    width: 400px;
    margin: 10px auto;
}